/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/
.body{
    background-color: rgb(211, 207, 207);
}
.section{
    display: flex;
    justify-content:space-evenly;
    flex-direction:row-reverse;
   
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    border: solid black 2px;
    
    padding-right: 40px;
    background-color: white;
}
.titlePpal{
  color: white;
  background-color:black ;
  text-align: center;
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif; 
  border: solid aqua 2px;
  border-radius: 5px;
  padding: 10px; 
}
.form{
    margin-left: 50px;
    margin-bottom: 20px;
}
.titleResults{
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.titleResults1{
    color: white;
    background-color: black;
    border: solid aqua 2px;
    border-radius: 5px;
    padding: 5px;
}
.title{
    color: rgb(80, 73, 73);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.title-fav{
    padding-left: 15px;
}
.titleResultsFav{
    color: white;
    background-color:black;
    padding: 5px 5px 5px 5px;
    border: solid aqua 2px;
   border-radius: 5px;
   margin-right: 25px;

    
}
.list{
    border: solid black 10px;
   list-style: none;
   
}


.fav-color{
   color: white;
   background-color: black;
   
   
}
.fav-colorList{
    color: white;
   background-color: black;
   border: solid aqua 5px;
   border-radius: 5px;
   
}
.containerFav{
    background-color: rgb(248, 199, 207);
  
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: auto;
    border: solid black 2px;
   
}
.title-fav{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}
.favItem{
    list-style: none;
}
.js-search{
    border: solid aqua 2px;
    
}
.btnSearch{
    border: solid aqua 2px; 
}
.btnFav{
    margin-left: 40px;
    border: solid aqua 2px;
}
.resetIconFav {
text-decoration: none;
}
.hidden{
  display: none;  
}
.imageFav{
  width:100px; 
  padding: 15px; 
}
.listFav{
    width: 200px;
}